* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: grid;
}

a {
  text-decoration: none;
  color: gray;
}

body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: gray;
  height: 5rem;
  justify-content: center;
  margin-left: -2rem;
}
main {
  background-color: rgb(226, 226, 226);
  min-height: 100vw;
}
body > main > h2 {
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  color: black;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  gap: 10rem;
}
section > article > h3 {
  font-weight: bold;
  border-bottom: 1px solid gray;
  line-height: 2rem;
}
section > article > p {
  margin-top: 10px;
}
section > article > p:first-of-type {
  font-size: 3rem;
  color: steelblue;
}
.betterPrice {
  color: rgb(13, 181, 13);
  font-weight: bolder;
  font-size: 1.4rem;
}
.worsePrice {
  color: red;
  font-weight: bolder;
  font-size: 1.4rem;
}
ul.lightPayout {
  width: 50vw;
  min-width: 450px;
  margin: auto;
  padding: 1rem;
  list-style: none;
  color: grey;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(85, 85, 85, 0.39);
  border-radius: 10px;
}
ul.lightPayout > li > article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.good {
  background-color: rgb(13, 181, 13);
  color: white;
  border: 3px solid greenyellow;
  font-weight: bold;
  border-radius: 10px;
}
.bad {
  background-color: rgb(229, 36, 32);
  color: white;
  border: 3px solid lightcoral;
  font-weight: bold;
  border-radius: 10px;
}
footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  color: gray;
  padding: 1rem;
  height: 3rem;
}

@media (max-width: 570px) {
  body > main > h2 {
    font-size: 1.4rem;
  }

  section {
    gap: 1rem;
  }

  section > article > p {
    min-width: 140px;
  }

  section > article > p:first-of-type {
    font-size: 1.5rem;
  }

  .betterPrice {
    font-size: 1rem;
  }

  .worsePrice {
    font-size: 1rem;
  }
  section > article > h3 {
    font-size: 1rem;
  }

  ul.lightPayout {
    min-width: 330px;
    font-size: 1rem;
  }
}
