html {
  font-family: 'Roboto', sans-serif;
}

img {
  height: 50px;
  width: 50px;
}

main > header > p {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 1px;
  padding: 30px;
  align-items: center;
  background-color: rgb(172, 172, 172);
  color: white;
  font-size: medium;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hour {
  padding-left: 1rem;
  height: 1.3rem;
  margin-left: -11px;
}

a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  height: 3.3rem;

  padding-left: 2rem;
  align-items: center;
  background-color: rgb(172, 172, 172);
  color: white;
  font-size: medium;
}

a > img {
  height: 30px;
  width: 30px;
  padding: 10px;
}

body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: gray;
  height: 5rem;
  justify-content: center;
  margin-left: -2rem;
}

h1 {
  color: grey;
}

.priceAct {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 1px;
  padding: 15px;
  align-items: center;
  background-color: rgb(172, 172, 172);
  color: white;
  font-size: medium;
  width: 100px;
}

ul > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
  margin-left: -55px;
  font-size: larger;
  font-weight: bold;
  padding: 1rem;
}

ul > header > p {
  width: 200px;
  text-align: center;
}

main {
  background-color: rgb(226, 226, 226);
  padding: 1rem;
  border-radius: 10px;
}

main > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -40px;
  box-shadow: 2px 2px 10px rgba(85, 85, 85, 0.39);
  border-radius: 10px;
}

li > p {
  width: 200px;
  text-align: center;
}

li > img {
  margin-right: 32px;
  height: 75px;
  width: 75px;
}

i > p {
  height: 75px;
  width: 75px;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  margin-top: 5px;
}

footer > h2 {
  color: grey;
}

footer > img {
  height: 20px;
  width: 20px;
}

@media (max-width: 400px) {
  ul > header {
    gap: 1rem;
  }

  main > header {
    gap: 1rem;
  }

  li > img {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  ul > header > p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .description {
    display: none;
  }
}

@media (min-width: 1000px) {
  main {
    margin-left: 10vh;
    margin-right: 10vh;
  }
}
